.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  background-image: linear-gradient(rgba(82, 23, 37, 1), #261419, #161315);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.App-main {
  align-items: center;
  justify-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  padding-top: 2em;
  padding-bottom: 4em;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-box {
  background-color: #4b3339;
  border-radius: 10px;
  align-items: center;
  flex-direction: row;
  width: 70%;
  display: flex;
  margin-bottom: 0.4em;
  margin-top: 0.4em;
  padding-bottom: 1em;
  padding-top: 1em;
}

.App-box:hover {
  transform: translateY(-5px) scale(1.005) translateZ(0);
  box-shadow: 0 24px 36px rgba(0,0,0,0.11),
    0 24px 46px var(--box-shadow-color);
}

.App-box:hover .overlay {
  transform: scale(4) translateZ(0);
}

.AApp-box:active {
  transform: scale(1) translateZ(0);
  box-shadow: 0 15px 24px rgba(0,0,0,0.11),
    0 15px 24px var(--box-shadow-color);
}

.App-player-name {
  color: white;
  font-size: 18px;
  line-height: 0px;
}

.App-player-coins {
  color: #E57A96;
  font-size: 14.7px;
  font-weight: 600;
  line-height: 6px;
  margin-top: 0.1px;
}

.App-player-rank {
  color: white;
  font-size: 14.7px;
  font-weight: 600;
  line-height: 6px;
  margin-top: 0.1px;
  opacity: 0.8;
}

.App-bugs {
  color: white;
  font-size: 20px;
  font-weight: 700;
  line-height: 0px;
}

.App-reports {
  color: white;
  font-size: 11.6px;
  line-height: 6px;
  margin-top: 0.1px;
  opacity: 0.8;
  align-items: center;
  justify-content: center;
  padding-left: 1.3em;
}

.App-B {
  font-weight: 500;
}

.App-title {
  font-weight: 200;
  line-height: 10px;
  font-size: calc(15px + 2vmin);
}

.App-header {
  padding-top: 1.3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-player-icon {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.App-main-data {
  display: flex;
  flex: 6;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
}

.App-player-bugs {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.App-icon-bug {
  width: 18px;
  height: 18px;
  position: absolute;
  margin-left: -1.7em;
  margin-top: -0.5em;
}

.App-icon-person {
  width: 63px;
  height: 63px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}